@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #242424;
}

/* headings and logo */




h1, h2, h3 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float:left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px solid #242424;
}

.active {
    border-bottom: 1px solid #242424;
}


/* hero image and cover text*/

#hero-outer {
    position: relative;
}


#cover-text h2, h3 {
    color: #f6f2ec;
}

#hero-image {
    height: 550px;
    width:100%;
    overflow: hidden;

    background-image:url("../images/Enigma-machine.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#cover-text {
    font-size: 130%;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #5c4e42;

    bottom: 30px;
    right: 150px;

    position: absolute;
}


/* Information sections */

.title-left {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #5c4e42;
    color: #f6f2ec;

 
    
}

.title-right {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}



/* introduction section */

#intro-info {
    color: #f6f2ec;

    padding-left: 60px;
    padding-right: 30px;
}

#intro-info h2 {
    color: #f6f2ec;

    padding-bottom: 20px;
}

#intro-img {
    padding-right: 60px;
}





/* Early Life/edcation Section */


#early-img {
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 30px;
}


#early-info {
    padding-right: 60px;
}

#early-info h2 {
    padding-bottom: 20px;
}

#early-info p {
    padding-bottom: 10px;
}


/* Pre war section */


#during-war-info {
    color: #f6f2ec;

    padding-left: 60px;
    padding-right: 30px;
}

#during-war-info h2 {
    color: #f6f2ec;

    padding-bottom: 20px;
}

#during-war-info p {
    padding-bottom: 10px;
}


#during-war-img {
    padding-right: 60px;
    padding-top: 40px;
}



/* Post WWII Section */


#post-war-img {
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 30px;
}


#post-war-info {
    padding-right: 60px;
}

#post-war-info h2 {
    padding-bottom: 20px;
}

#post-war-info p {
    padding-bottom: 10px;
}





