@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #242424;
}

/* headings and logo */




h1, h2, h3 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float:left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px solid #242424;
}

.active {
    border-bottom: 1px solid #242424;
}


/* hero image and cover text*/

#hero-outer {
    position: relative;
}


#cover-text h2, h3 {
    color: #f6f2ec;
}

#hero-image {
    height: 550px;
    width:100%;
    overflow: hidden;

    background-image:url("../images/enigma-machine.png.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#cover-text {
    font-size: 130%;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #5c4e42;

    bottom: 30px;
    right: 150px;

    position: absolute;
}


/* Main Home page content */



/*title left*/

.title-left {
    height: 600px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
    background-color: #5c4e42;
    color: #f6f2ec;
}

.title-left h2 {
    color: #f6f2ec;
    padding-bottom: 20px;
}

.para-left {
    padding: 0 30px 0 60px;
}

.img-right {
    padding-right: 60px;
}



/*title right*/

.title-right {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-right h2 {
    padding-bottom: 20px;
}

.para-right {
    padding: 0 60px 0 30px;

}

.img-left {
    padding-left: 60px;

}

.para-left p, .para-right p {
    padding-bottom: 10px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 1.3rem;
}

#during {
    padding-bottom: 40px;
}

#during-img {
    padding-top: 70px;
}




 /*Footer section*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    
}


 /* Media Queries */

 /* For large to medium sized screens (1200px wide and below) */

 @media screen and (max-width: 1200px) {
    #header-content {
        width: auto;
        margin: 0 auto;
    }

    .title-left, .title-right {
        display: block;
        text-align: center;
        height: auto;
        padding: 60px 30px;
    }

    .img-left, .img-right {
        text-align: center;
        padding: 0;
    }

   


   
  
 }


    
 