@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #242424;
}

/* headings and logo */

h1, h2, h3 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 300%;
}